.statList li {
  list-style: none;
}

.statList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.item {
  display: block;
  width: 70px;
  height: 70px;
}

.label {
  display: block;
  text-align: center;
}

.percentage {
  font-size: 20px;
  text-align: center;
  display: block;
}

.title {
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: gray;
}

.statistics {
  width: 300px;
}
